
.itemDetail {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--color-blanco);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.itemImg {
  width: 100%;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-secundario);
  margin-top: auto; /* Empuja el precio hacia abajo */
}

.footer {
  grid-column: 2 / 3; /* Ocupa la segunda columna */
  align-self: end; /* Se alinea al final del espacio */
}